node-red/flows.json
[{"id":"6aef8342.4c48fc","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"72d0e153.735f3","type":"tab","label":"Fan","disabled":false,"info":""},{"id":"20397fc0.31136","type":"tab","label":"Radiator ventilator","disabled":false,"info":""},{"id":"5d260ef8.cb081","type":"server","z":"","name":"Home Assistant P16"},{"id":"e8c15f4.108eaa","type":"mqtt-broker","z":"","name":"mqtt server P16","broker":"192.168.16.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d887365f.9c11f8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9966f965.d5a0e8","type":"server-state-changed","z":"6aef8342.4c48fc","name":"Toilet Motion","server":"5d260ef8.cb081","version":"1","entityidfilter":"binary_sensor.toilet_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":85,"y":47,"wires":[["7b2d04ee.32ff2c"]]},{"id":"5a9e7cbe.61d874","type":"api-call-service","z":"6aef8342.4c48fc","name":"OFF","server":"5d260ef8.cb081","version":"1","debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.lamp_toilet_switch","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":780,"y":90,"wires":[[]]},{"id":"4cf68aee.dc4604","type":"api-call-service","z":"6aef8342.4c48fc","name":"ON","server":"5d260ef8.cb081","version":"1","debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.lamp_toilet_switch","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":745.1666259765625,"y":41.952362060546875,"wires":[[]]},{"id":"7b2d04ee.32ff2c","type":"switch","z":"6aef8342.4c48fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":223,"y":48,"wires":[["85acddcc.d0b95","4cf68aee.dc4604"],["c4b4d4ac.644758"]]},{"id":"c4b4d4ac.644758","type":"stoptimer","z":"6aef8342.4c48fc","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"1min","x":425,"y":105,"wires":[["7eb569f1.1b2248"],[]]},{"id":"16fbf8e.5ecde07","type":"switch","z":"6aef8342.4c48fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":329.38372802734375,"y":405.0685729980469,"wires":[["557428a9.734e58","936ae877.c76ec8"],["23c5d1ec.95f3fe"]]},{"id":"66eb3db4.e1f5d4","type":"api-call-service","z":"6aef8342.4c48fc","name":"Turn off Living Room Lights","server":"5d260ef8.cb081","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"light.living_room","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":760,"y":460,"wires":[[]]},{"id":"557428a9.734e58","type":"api-call-service","z":"6aef8342.4c48fc","name":"Turn on Living room lights","server":"5d260ef8.cb081","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.living_room","data":"{\"brightness\":\"150\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":758.6338386535645,"y":383.9452438354492,"wires":[[]]},{"id":"7131a0fe.a0627","type":"inject","z":"6aef8342.4c48fc","name":"sun-thu 11:30pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 23 * * 1,2,3,4,0","once":false,"onceDelay":"","x":367.875,"y":446.202392578125,"wires":[["66eb3db4.e1f5d4","fdefa08b.6ce3d"]]},{"id":"23c5d1ec.95f3fe","type":"api-current-state","z":"6aef8342.4c48fc","name":"Off Already?","server":"5d260ef8.cb081","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550.7283630371094,"y":418.5981750488281,"wires":[[],["66eb3db4.e1f5d4"]]},{"id":"9d84549c.68a948","type":"bigtimer","z":"6aef8342.4c48fc","outtopic":"","outpayload1":"","outpayload2":"","name":"1hr before Sunset","lat":"52.357958","lon":"4.780472","starttime":"5004","endtime":"5003","startoff":"-60","endoff":"240","offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":133,"y":430,"wires":[[],[],["16fbf8e.5ecde07"]]},{"id":"b849e18e.dcad5","type":"server-state-changed","z":"6aef8342.4c48fc","name":"Bathroom Humidity","server":"5d260ef8.cb081","version":"1","entityidfilter":"sensor.oregontemphygro_2c6a_hum","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":130,"y":640,"wires":[["24631e14.944a52"]]},{"id":"24631e14.944a52","type":"switch","z":"6aef8342.4c48fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"45","vt":"str"},{"t":"btwn","v":"46","vt":"num","v2":"65","v2t":"num"},{"t":"gte","v":"66","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":339.5,"y":636,"wires":[["1c92bd99.8fa972"],["346a4897.a83ba8"],["c7f4cd9b.ddfa1"]]},{"id":"1c92bd99.8fa972","type":"api-call-service","z":"6aef8342.4c48fc","name":"Fanspeed low","server":"5d260ef8.cb081","version":"1","debugenabled":false,"service_domain":"","service":"","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":552,"y":597,"wires":[[]]},{"id":"346a4897.a83ba8","type":"api-call-service","z":"6aef8342.4c48fc","name":"Fanspeed medium","server":"5d260ef8.cb081","version":"1","debugenabled":false,"service_domain":"","service":"","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":564,"y":646,"wires":[[]]},{"id":"c7f4cd9b.ddfa1","type":"api-call-service","z":"6aef8342.4c48fc","name":"Fanspeed high","server":"5d260ef8.cb081","version":"1","debugenabled":false,"service_domain":"","service":"","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":556,"y":691,"wires":[[]]},{"id":"ef67bb42.142c58","type":"inject","z":"6aef8342.4c48fc","name":"fri-sat 01:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * 5,6","once":false,"onceDelay":0.1,"x":350.5,"y":478,"wires":[["66eb3db4.e1f5d4","fdefa08b.6ce3d"]]},{"id":"85acddcc.d0b95","type":"stoptimer","z":"6aef8342.4c48fc","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10min","x":421.5,"y":65,"wires":[["7eb569f1.1b2248"],[]]},{"id":"d1e62b74.4c6f78","type":"mqtt out","z":"72d0e153.735f3","name":"Mechanische Ventilatie state","topic":"mechanische_ventilatie/fan/mechanische_ventilatie/speed/state","qos":"","retain":"true","broker":"e8c15f4.108eaa","x":714,"y":48,"wires":[]},{"id":"42a023c6.75324c","type":"function","z":"72d0e153.735f3","name":"HIGH/MEDIUM/LOW","func":"var msg1;\nif (msg.payload > 30) {\n    msg1 = { payload:\"high\" };\n} else if (msg.payload > 10) {\n    msg1 = { payload:\"medium\" };\n} else {\n    msg1 = { payload:\"low\" };\n} \nreturn msg1;","outputs":1,"noerr":0,"x":423,"y":47,"wires":[["d1e62b74.4c6f78"]]},{"id":"d1a3363d.1a20b8","type":"server-state-changed","z":"72d0e153.735f3","name":"Mechanische Ventilatie","server":"5d260ef8.cb081","version":1,"entityidfilter":"sensor.plugwise_mechanische_ventilatie","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":131,"y":49,"wires":[["42a023c6.75324c"]]},{"id":"7eb569f1.1b2248","type":"api-current-state","z":"6aef8342.4c48fc","name":"Toilet Motion On?","server":"5d260ef8.cb081","version":"1","outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.toilet_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":615,"y":90,"wires":[[],["5a9e7cbe.61d874"]]},{"id":"936ae877.c76ec8","type":"api-call-service","z":"6aef8342.4c48fc","name":"Turn on garden lights","server":"5d260ef8.cb081","version":"1","debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"switch.lampjes_schuur","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":540,"y":340,"wires":[[]]},{"id":"fdefa08b.6ce3d","type":"api-call-service","z":"6aef8342.4c48fc","name":"Turn off garden lights","server":"5d260ef8.cb081","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"switch.lampjes_schuur","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":740,"y":520,"wires":[[]]},{"id":"cf9f19ce.002358","type":"server-state-changed","z":"72d0e153.735f3","name":"Afzuigkap","server":"5d260ef8.cb081","version":1,"entityidfilter":"sensor.afzuigkap_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":80,"y":240,"wires":[["5b02ee99.307fd","d8d83da1.b65ae"]]},{"id":"d8d83da1.b65ae","type":"debug","z":"72d0e153.735f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":295.5,"y":358,"wires":[]},{"id":"5b02ee99.307fd","type":"function","z":"72d0e153.735f3","name":"HIGH/MEDIUM/LOW","func":"if (msg.payload > 15) {\n    var msg1 = { payload:\"3\" };\n} else {\n    var msg2 = { payload:\"1\" };\n} \nreturn [msg1,msg2] ;","outputs":2,"noerr":0,"x":300,"y":240,"wires":[["224a6743.ffa098","2ae1d0a8.27e9d"],["72b21ad.1a5ade4"]]},{"id":"224a6743.ffa098","type":"mqtt out","z":"72d0e153.735f3","name":"Mechanische Ventilatie switch","topic":"esp/mv","qos":"","retain":"false","broker":"e8c15f4.108eaa","x":690,"y":240,"wires":[]},{"id":"2ae1d0a8.27e9d","type":"debug","z":"72d0e153.735f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":160,"wires":[]},{"id":"72b21ad.1a5ade4","type":"stoptimer","z":"72d0e153.735f3","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"Delay 15 mins","x":520,"y":340,"wires":[["224a6743.ffa098","217ade28.7f6d32"],[]]},{"id":"217ade28.7f6d32","type":"debug","z":"72d0e153.735f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":340,"wires":[]},{"id":"f5764304.394f6","type":"server-state-changed","z":"72d0e153.735f3","name":"Bathroom > 45% humidity","server":"5d260ef8.cb081","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bathroomvent_humidity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"num","halt_if_compare":"gt","outputs":1,"output_only_on_state_change":true,"x":130,"y":460,"wires":[["85cf86ec.9f8ae8"]]},{"id":"85cf86ec.9f8ae8","type":"function","z":"72d0e153.735f3","name":"Humidity","func":"var msg1;\nif (msg.payload > 60) {\n    msg1 = { payload:\"high\" };\n} else if (msg.payload > 40) {\n    msg1 = { payload:\"medium\" };\n} else {\n    msg1 = { payload:\"low\" };\n} \nreturn msg1;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[[]]},{"id":"fab9bef.1bb124","type":"mqtt in","z":"20397fc0.31136","name":"","topic":"Fancontroller/Radiator/Temperature","qos":"2","datatype":"auto","broker":"e8c15f4.108eaa","x":180,"y":160,"wires":[["9dcdde96.24638"]]},{"id":"9dcdde96.24638","type":"range","z":"20397fc0.31136","minin":"20","maxin":"35","minout":"0","maxout":"1023","action":"clamp","round":true,"property":"payload","name":"","x":510,"y":160,"wires":[["e5fbbb58.c83b88"]]},{"id":"d4615a8c.3a4c68","type":"mqtt out","z":"20397fc0.31136","name":"","topic":"Fancontroller/cmd","qos":"","retain":"","broker":"e8c15f4.108eaa","x":910,"y":80,"wires":[]},{"id":"e5fbbb58.c83b88","type":"template","z":"20397fc0.31136","name":"PWM command","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PWM,21,{{payload}},0,25000","output":"str","x":700,"y":80,"wires":[["d4615a8c.3a4c68"]]},{"id":"a0c1cb23.15a238","type":"mqtt in","z":"20397fc0.31136","name":"","topic":"domoticz/out","qos":"2","datatype":"auto","broker":"e8c15f4.108eaa","x":110,"y":220,"wires":[["a0a671cb.979f9"]]},{"id":"a0a671cb.979f9","type":"json","z":"20397fc0.31136","name":"","property":"payload","action":"","pretty":false,"x":250,"y":220,"wires":[["a9a75953.d81fe8"]]},{"id":"a9a75953.d81fe8","type":"switch","z":"20397fc0.31136","name":"IDX 9","property":"payload.idx","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":220,"wires":[["9f32cb2c.c89b68"]]},{"id":"9f32cb2c.c89b68","type":"switch","z":"20397fc0.31136","name":"Naar beneden?","property":"payload.nvalue","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":220,"wires":[["f0fd074.25a2ef8"]]},{"id":"f0fd074.25a2ef8","type":"change","z":"20397fc0.31136","name":"Fan uit","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":220,"wires":[["e5fbbb58.c83b88"]]}]