node-red/flows.json
[{"id":"6aef8342.4c48fc","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"72d0e153.735f3","type":"tab","label":"Fan","disabled":false,"info":""},{"id":"5d260ef8.cb081","type":"server","z":"","name":"Home Assistant P16"},{"id":"e8c15f4.108eaa","type":"mqtt-broker","z":"","name":"server","broker":"192.168.16.5","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9966f965.d5a0e8","type":"server-state-changed","z":"6aef8342.4c48fc","name":"Toilet Motion","server":"5d260ef8.cb081","entityidfilter":"binary_sensor.toilet_motion_sensor","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":85,"y":47,"wires":[["7b2d04ee.32ff2c"]]},{"id":"5a9e7cbe.61d874","type":"api-call-service","z":"6aef8342.4c48fc","name":"OFF","server":"5d260ef8.cb081","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.lamp_toilet_switch\"}","mergecontext":"","x":780,"y":90,"wires":[[]]},{"id":"4cf68aee.dc4604","type":"api-call-service","z":"6aef8342.4c48fc","name":"ON","server":"5d260ef8.cb081","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.lamp_toilet_switch\"}","mergecontext":"","x":745.1666259765625,"y":41.952362060546875,"wires":[[]]},{"id":"7b2d04ee.32ff2c","type":"switch","z":"6aef8342.4c48fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":223,"y":48,"wires":[["85acddcc.d0b95","4cf68aee.dc4604"],["c4b4d4ac.644758"]]},{"id":"c4b4d4ac.644758","type":"stoptimer","z":"6aef8342.4c48fc","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"1min","x":425,"y":105,"wires":[["7eb569f1.1b2248"],[]]},{"id":"16fbf8e.5ecde07","type":"switch","z":"6aef8342.4c48fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":329.38372802734375,"y":405.0685729980469,"wires":[["557428a9.734e58","936ae877.c76ec8"],["23c5d1ec.95f3fe"]]},{"id":"66eb3db4.e1f5d4","type":"api-call-service","z":"6aef8342.4c48fc","name":"Turn off Living Room Lights","server":"5d260ef8.cb081","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"group.livingroom\"}","x":760,"y":460,"wires":[[]]},{"id":"557428a9.734e58","type":"api-call-service","z":"6aef8342.4c48fc","name":"Turn on Living room lights","server":"5d260ef8.cb081","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"group.livingroom\", \"brightness\":\"60\"}","x":758.6338386535645,"y":383.9452438354492,"wires":[[]]},{"id":"7131a0fe.a0627","type":"inject","z":"6aef8342.4c48fc","name":"sun-thu 11:30pm","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 23 * * 1,2,3,4,0","once":false,"onceDelay":"","x":367.875,"y":446.202392578125,"wires":[["66eb3db4.e1f5d4","fdefa08b.6ce3d"]]},{"id":"23c5d1ec.95f3fe","type":"api-current-state","z":"6aef8342.4c48fc","name":"Off Already?","server":"5d260ef8.cb081","halt_if":"off","entity_id":"group.livingroom","outputs":1,"x":550.7283630371094,"y":418.5981750488281,"wires":[["66eb3db4.e1f5d4"]]},{"id":"9d84549c.68a948","type":"bigtimer","z":"6aef8342.4c48fc","outtopic":"","outpayload1":"","outpayload2":"","name":"1hr before Sunset","lat":"52.357958","lon":"4.780472","starttime":"5004","endtime":"5003","startoff":"-60","endoff":"240","offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":133,"y":430,"wires":[[],[],["16fbf8e.5ecde07"]]},{"id":"b849e18e.dcad5","type":"server-state-changed","z":"6aef8342.4c48fc","name":"Bathroom Humidity","server":"5d260ef8.cb081","entityidfilter":"sensor.oregontemphygro_2c6a_hum","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":130,"y":640,"wires":[["24631e14.944a52"]]},{"id":"24631e14.944a52","type":"switch","z":"6aef8342.4c48fc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"45","vt":"str"},{"t":"btwn","v":"46","vt":"num","v2":"65","v2t":"num"},{"t":"gte","v":"66","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":339.5,"y":636,"wires":[["1c92bd99.8fa972"],["346a4897.a83ba8"],["c7f4cd9b.ddfa1"]]},{"id":"1c92bd99.8fa972","type":"api-call-service","z":"6aef8342.4c48fc","name":"Fanspeed low","server":"5d260ef8.cb081","service_domain":"","service":"","data":"{}","x":552,"y":597,"wires":[[]]},{"id":"346a4897.a83ba8","type":"api-call-service","z":"6aef8342.4c48fc","name":"Fanspeed medium","server":"5d260ef8.cb081","service_domain":"","service":"","data":"{}","x":564,"y":646,"wires":[[]]},{"id":"c7f4cd9b.ddfa1","type":"api-call-service","z":"6aef8342.4c48fc","name":"Fanspeed high","server":"5d260ef8.cb081","service_domain":"","service":"","data":"{}","x":556,"y":691,"wires":[[]]},{"id":"ef67bb42.142c58","type":"inject","z":"6aef8342.4c48fc","name":"fri-sat 01:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * 5,6","once":false,"onceDelay":0.1,"x":350.5,"y":478,"wires":[["66eb3db4.e1f5d4","fdefa08b.6ce3d"]]},{"id":"85acddcc.d0b95","type":"stoptimer","z":"6aef8342.4c48fc","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10min","x":421.5,"y":65,"wires":[["7eb569f1.1b2248"],[]]},{"id":"d1e62b74.4c6f78","type":"mqtt out","z":"72d0e153.735f3","name":"Mechanische Ventilatie state","topic":"mechanische_ventilatie/on/state","qos":"","retain":"true","broker":"e8c15f4.108eaa","x":714,"y":48,"wires":[]},{"id":"42a023c6.75324c","type":"function","z":"72d0e153.735f3","name":"HIGH/MEDIUM/LOW","func":"if (msg.payload > 30) {\n    var msg1 = { payload:\"HIGH\" };\n} else if (msg.payload > 10) {\n    var msg1 = { payload:\"MEDIUM\" };\n} else {\n    var msg1 = { payload:\"LOW\" };\n} \nreturn msg1;","outputs":1,"noerr":0,"x":423,"y":47,"wires":[["d1e62b74.4c6f78"]]},{"id":"d1a3363d.1a20b8","type":"server-state-changed","z":"72d0e153.735f3","name":"Mechanische Ventilatie","server":"5d260ef8.cb081","entityidfilter":"sensor.plugwise_mechanische_ventilatie","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":131,"y":49,"wires":[["42a023c6.75324c"]]},{"id":"7eb569f1.1b2248","type":"api-current-state","z":"6aef8342.4c48fc","name":"Toilet Motion On?","server":"5d260ef8.cb081","halt_if":"on","entity_id":"binary_sensor.toilet_motion_sensor","outputs":1,"x":615,"y":90,"wires":[["5a9e7cbe.61d874"]]},{"id":"936ae877.c76ec8","type":"api-call-service","z":"6aef8342.4c48fc","name":"Turn on garden lights","server":"5d260ef8.cb081","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"switch.lampjes_schuur\"}","mergecontext":"","x":540,"y":340,"wires":[[]]},{"id":"fdefa08b.6ce3d","type":"api-call-service","z":"6aef8342.4c48fc","name":"Turn off garden lights","server":"5d260ef8.cb081","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"switch.lampjes_schuur\"}","mergecontext":"","x":740,"y":520,"wires":[[]]},{"id":"cf9f19ce.002358","type":"server-state-changed","z":"72d0e153.735f3","name":"Afzuigkap","server":"5d260ef8.cb081","entityidfilter":"sensor.afzuigkap_power","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":80,"y":240,"wires":[["5b02ee99.307fd","d8d83da1.b65ae"]]},{"id":"d8d83da1.b65ae","type":"debug","z":"72d0e153.735f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":295.5,"y":358,"wires":[]},{"id":"5b02ee99.307fd","type":"function","z":"72d0e153.735f3","name":"HIGH/MEDIUM/LOW","func":"if (msg.payload > 15) {\n    var msg1 = { payload:\"3\" };\n} else {\n    var msg2 = { payload:\"1\" };\n} \nreturn [msg1,msg2] ;","outputs":2,"noerr":0,"x":300,"y":240,"wires":[["224a6743.ffa098","2ae1d0a8.27e9d"],["72b21ad.1a5ade4"]]},{"id":"224a6743.ffa098","type":"mqtt out","z":"72d0e153.735f3","name":"Mechanische Ventilatie switch","topic":"esp/mv","qos":"","retain":"false","broker":"e8c15f4.108eaa","x":690,"y":240,"wires":[]},{"id":"2ae1d0a8.27e9d","type":"debug","z":"72d0e153.735f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":160,"wires":[]},{"id":"72b21ad.1a5ade4","type":"stoptimer","z":"72d0e153.735f3","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"Delay 15 mins","x":520,"y":340,"wires":[["224a6743.ffa098","217ade28.7f6d32"],[]]},{"id":"217ade28.7f6d32","type":"debug","z":"72d0e153.735f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":340,"wires":[]}]